{% extends 'tienda/base2.html' %}
{% load static %}

{% block titulo %}Crear empleado{% endblock %}

{% block contenedor %}
<main>
    <form class="form1" action="{% url 'newempleados' %}" method="post" enctype="multipart/form-data">
        <h1 style="text-align: center;">Formulario de empleados</h1>
        {% csrf_token %}
        <div class="form-row p-5">
          <div class="form-group col-md-12">
            <label for="inputPassword4">Nombres y apellidos</label>
            <input type="Text" class="form-control" id="NombreC" name="nombre" placeholder="Nombre completo">
          </div>
          <br>
          <div class="form-group col-md-12">
            <label for="inputAddress2">Correo electronico</label>
            <input type="text" class="form-control" id="inputAddress2" name="correo" placeholder="Correo">
          </div><br>

          <div class="form-group col-md-12">
            <label for="inputPassword4">Clave</label>
            <input type="password" class="form-control" id="NombreC" name="password" placeholder="Clave">
          </div><br>
          <div class="row">
            <div class="col">
              <label for="inputAddress2">Telefono</label>
              <input type="Text" class="form-control" id="inputAddress2" name="telefono" placeholder="Telefono">
            </div><br>
            <div class="col">
              <label for="inputAddress2">Cargo</label>
               <input type="Text" class="form-control" id="inputAddress2" name="cargo" placeholder="Cargo">
            </div>
          </div>
         
          <br>
          <button type="submit" class="btn btn-success">Registrar</button>
        </div>
      </form>
</main>
{% endblock %}