{% extends 'tienda/base1.html' %}
{% load static %}

{% block titulo %}Empleados{% endblock %}

{% block contenedor %}
<main>
    <div class="container-fluid m-3" style="padding:4%;">
        <h1 class="h1">Empleados</h1>
        <table  class="table table-bordered table-hover" id="tableR">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>correo</th>
                    <th>cargo</th>
                    <th>Operaciones</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for r in data %}
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.cedula }}</td>
                        <td>{{ r.nombre }}</td>
                        <td>{{ r.email }}</td>
                        <td>{{ r.cargo }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'empleados_formulario_editar' r.id %}"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" href="javascript:eliminar('{% url 'empleado_eliminar' r.id %}')"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div style="display: flex; justify-content: center; align-content: center;">
            <a href="{% url 'nuevoempleados' %}" class="btn btn-success btn-lg"><i class="bi bi-plus"></i></a>
        </div>
    </div>
</main>
{% endblock %}