{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Trabajos{% endblock %}

{% block contenedor %}
<main>
      <section class="servicios" style="padding: 6%;">
        {% if citas %}
        <div>
          <h1>Trabajos pendientes</h1>
         
          <div class="product">
              
                  {% for p in citas %}
                          <div class="card align-items-center text-center p-10" style="width: 18rem; padding: 10px;">
                              <div class="card-body">
                                <h4 class="card-text">{{ p.fechaServicio }}</h4>
                                <p class="card-text">
                                    <strong>{{ p.hora }}</strong> 
                                    <br> {{ p.servicio }} 
                                    <br> {{ p.cliente }} 
                                </p>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#agg">Cancelar</button>
                                <a class="btn btn-success" href="{% url 'terminar' p.id %}">Terminada</a>
                              </div>
                          </div>
                  {% endfor %}
          </div>
          
      </div>
      {% else %}
              <h1>No hay citas pendientes</h1>
      {% endif %}
      </section>
  </main>


  <div class="modal" id="agg">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Citas</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          {% for p in citas %}
          <form class="form1" action="{% url 'cancelar' %}" method="post">
            {% csrf_token %}
            <h1 style="text-align: center;">Observacion de la cancelacion</h1>
            <div class="form-row">
              <input type="text" value="{{ p.id }}" hidden name="id">
              <div class="form-group col-md-12">
                <label for="inputPassword4">Motivo de la cancelacion de la cita:</label>
                <input type="text" class="form-control" id="text"  name="observacion">
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Cancelar</button>
            </div>
          </form>
          {% endfor %}
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
  
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
  
      </div>
    </div>
  </div>



{% endblock %}