{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Citas{% endblock %}

{% block contenedor %}
<main>
  <section id="scitas">
    <article class="add">
      <div class="tit">
        <h1 class="card-title">Citas</h1>
      </div>
      <div id="calendar" class="container fc-daygrid-day">

      </div>

      <br>
      <p>Si deseas agendar un servicio, aqui lo podras realizar</p>
      {% if request.session != True %}
      <button class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#agg" {% if request.session == True %}hidden{% endif%}>Agendar cita</button>
      {% else %}
      <p>Debes iniciar sesion o registrarse si todavia no lo haz hecho</p>
      {% endif %}
    </article>
  </section>
</main>

<div class="modal" id="agg">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Citas</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="form1" action="{% url 'citaRegistrar' %}" method="post">
          {% csrf_token %}
          <h1 style="text-align: center;">Formulario de cita</h1>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputPassword4">Fecha</label>
              <input type="date" class="form-control" id="Fecha" placeholder="Fecha" name="fechaServicio">
            </div>
            <div class="form-group col-md-12">
              <label for="inputCantidad">Hora</label>
              <input type="time" class="form-control" id="Hora de servicio" placeholder="Hora" name="hora">
            </div>
            <br>
            <div class="form-group col-md-12">
              <label for="">Servicio</label>
              <select class="form-control" name="servicio">
                <option value="">Seleccione</option>
                {% for c in data1 %}
                <option value="{{ c.id }}">{{ c.descripcion_servicio }}</option>
                {% endfor %}
              </select>

            </div>
            <br>
            <div class="form-group col-md-12">
              <label for="">Empleado</label>
              <select class="form-control" name="empleado">
                <option value="">Seleccione</option>
                {% for e in data2 %}
                <option value="{{ e.id }}">{{ e.nombre }}</option>
                {% endfor %}
              </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Agendar</button>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>

<div class="modal " id="infor">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Citas</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body gg">
        <div class="editar_fecha" style="display: none;">
            <form action="{% url 'citaActualizar' %}" method="post">
              {% csrf_token %}
              <input type="text" hidden name="id" id="id">
              <label for="inputPassword4">Fecha</label>
              <input type="date" class="form-control" id="Fecha" placeholder="Fecha" name="fechaServicio">
              <label for="inputCantidad">Hora</label>
              <input type="time" class="form-control" id="Hora de servicio" placeholder="Hora" name="hora">
              <label for="">Servicio</label>
              <select class="form-control"  name="servicio_e">
                <option value="">Seleccione</option>
                {% for c in data1 %}
                <option value="{{ c.id }}">{{ c.descripcion_servicio }}</option>
                {% endfor %}
              </select>
              <label for="">Empleado</label>
              <select class="form-control" name="empleado_e">
                <option value="">Seleccione</option>
                {% for e in data2 %}
                <option value="{{ e.id }}" >{{ e.nombre }}</option>
                {% endfor %}
              </select><br>
              <button type="submit" class="btn btn-success">Editar</button>
              <input type="hidden" id="id_cita" name="id_cita">
            </form>
         
        </div>
        <table class="table table-striped tl">

          <thead>
            <tr>
              <th>Servicio</th>
              <th>Hora</th>
              <th>Cliente</th>
              <th>Empleado</th>
              <th>Acciones</th>
            </tr>
          </thead>
            <input type="text" value="{{ request.session.logueo.rol }}" hidden id="rol" name="rol">
          <tbody class="details">
            
            <td></td>
          </tbody>
          
        </table>
        <form action="{% url 'eliminarCita' %}" method='post' class="delete" style="display: block;">
          {% csrf_token %}
          <input type="text" id="id_Date" name="idDate" hidden>
          <button class="btn btn-danger cerrarModal">Eliminar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-danger cerrarModal" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>


<script>
  d = document.querySelector('.details')

  function cambiar_estado(id) {
    edit = document.querySelector(".editar_fecha")
    remove = document.querySelector(".delete")
    table = document.querySelector(".tl")
    edit.style.display = "block"
    table.style.display = "none"
    remove.style.display = "none"
    
  }

  async function abrirmodal(id) {
    cita = document.querySelector("#id_cita")
    cita.value =  id
    rol = document.querySelector('#rol')
    const rol1 = rol.value
    id_date = document.getElementById('id_Date')
    id_date.value = id
    $('#infor').modal('show');
    url = await fetch(`http://127.0.0.1:8000/api/1.0/Citas/${id}`)
    data = await url.json()

    console.log(data)
    url_servicio = await fetch(data.servicio)
    data_servicio = await url_servicio.json()
    console.log(data_servicio)

    url_cliente = await fetch(data.cliente)
    data_cliente = await url_cliente.json()
    
    url_empleado = await fetch(data.empleado)
    data_empleado = await url_empleado.json()

    

    if(rol1 == 4 ){

      d.innerHTML = `
                  <tr>
                    <th>${data_servicio.nombre}</th>
                    <td>${data.hora}</td>
                    <td>${data_cliente.nombre}</td>
                    <td>${data_empleado.nombre}</td>
                    <td> <button  type="button" class="btn btn-info cerrarModal" onclick="cambiar_estado(${id})">Editar</button>
                   
                  </tr>
        `

    }else{

      d.innerHTML = `
      
                     <tr>
                    <th>${data_servicio.nombre}</th>
                    <td>${data.hora}</td>
                    <td>${data_cliente.nombre}</td>
                    <td> <button  type="button" class="btn btn-info cerrarModal" onclick='cancelar(${id})'>Cancelar</button>
  
                  </tr>
      `
    }
    
  }


  document.addEventListener('DOMContentLoaded', function () {

    var calendarUI = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarUI, {
      events: [
        {% for eve in data %}
               {
        id: "{{ eve.id }}",
        title: "{{ eve.cliente }}",
        start: "{{ eve.fechaServicio | date:'Y-m-d' }}",
        servicio: "{{ eve.servicio }}"
      },
      {% endfor %}
           ],
    eventMouseEnter: function (info) {
      info.el.style.cursor = 'pointer';
    },
    eventClick: function (info) {
      abrirmodal(info.event.id)

    }
            
       });

  calendar.render();
  calendar.setOption('locale', 'es');
   });



</script>



{% endblock %}