{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Trabajos{% endblock %}

{% block contenedor %}
<main>
      <section class="servicios" style="padding: 6%;">
        <h1>Trabajos pendientes</h1>
        <div>
          {% if citas %}
          <div class="product">
              
                  {% for p in citas %}
                          <div class="card align-items-center text-center p-10" style="width: 18rem; padding: 10px;">
                              <div class="card-body">
                                <h4 class="card-text">{{ p.fechaServicio }}</h4>
                                <p class="card-text">
                                    <strong>{{ p.hora }}</strong> 
                                    <br> {{ p.servicio }} 
                                    <br> {{ p.cliente }} 
                                </p>
                                <a class="btn btn-danger" href="{% url 'cancelar' p.id %}">Cancelar</a>
                                <a class="btn btn-success" href="{% url 'terminar' p.id %}">Terminada</a>
                              </div>
                          </div>
                  {% endfor %}
          </div>
          {% else %}
              <h1>No hay citas pendientes</h1>
          {% endif %}
      </div>
      </section>
    </section>
  </main>





{% endblock %}