{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Compras{% endblock %}

{% block contenedor %}
<main class="mainly">
  <div class="container-fluid m-3" style="padding:7%;">
    {% if data %}
    <h1 class="h1">Citas</h1><br>
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Numero de cita</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for r in data %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.fechaServicio }}</td>
            <td>{{ r.cliente }}</td>
            
            <td>
              <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#detail{{r.id}}">Ver detalles</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if request.session.logueo.rol == 1 %}
        <div style="display: flex; justify-content: center; align-content: center;">
          <a class="btn btn-primary m-2" href="{% url 'pdfCitas' %}">CrearPDF</a>
      </div>
      {% endif %}
      
      {% else %}
      <h1 >No hay citas</h1>
    {% endif %}
  </div>
</main>

{% for p in data %}
<div class="modal" id="detail{{p.id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Citas</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <img src="{% static 'tienda/img/Logo.png' %}" alt=""
        width="51px" height="50px">
        <h1>Observacion</h1>
        <p>{{ p.observacion }}</p>
        <h2>Empleado</h2>
        <p>{{ p.empleado }}</p>


        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>
{% endfor %}

{% endblock %}