{% extends 'tienda/base1.html' %}
{% load static %}

{% block titulo %}Listar Citas{% endblock %}

{% block contenedor %}
<main>
    <div class="container-fluid m-3" style="padding:1%;">
        <h1>Citas</h1>
            <table class="table table-bordered table-hover" id="tableR">
                <thead class="table-dark">
                    <tr>
                        <th>id</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Cliente</th>
                        <th>Servicio</th>
                        <th>Empleado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in data %}
                        <tr>
                            <td>{{ r.id }}</td>
                            <td>{{ r.fechaServicio }}</td>
                            <td>{{ r.hora }}</td>
                            <td>{{ r.cliente }}</td>
                            <td>{{ r.servicio }}</td>
                            <td>{{ r.empleado }}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'cita_formulario_editar' r.id %}"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger" href="javascript:eliminar('{% url 'citaEliminar' r.id %}')"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="display: flex; justify-content: center; align-content: center;">
                <a href="{% url 'registrarCitar' %}" class="btn btn-success btn-lg"><i class="bi bi-plus"></i></a>
            </div>
            
    </div>
</main>

{% endblock %}