{% extends 'tienda/base2.html' %}
{% load static %}

{% block titulo %}Registrar Cita{% endblock %}

{% block contenedor %}
<main>
  <form class="form1" action="{% url 'citaRegistrar' %}" method="post">
    {% csrf_token %}
    <h1 style="text-align: center;">Formulario de cita</h1>
    <div class="form-row">
      <div class="row">
        <div class="col">
          <label for="inputPassword4">Fecha</label>
          <input type="date" class="form-control" id="Fecha" placeholder="Fecha" name="fechaServicio">
        </div><br>
        <div class="col">
          <label for="inputCantidad">Hora</label>
          <input type="time" class="form-control" id="Hora de servicio" placeholder="Hora" name="hora">
        </div>
    </div>
      <br>
      <div class="form-group col-md-12">
        <label for="">Servicio</label>
        <select class="form-control" name="servicio">
          <option value="">Seleccione</option>
          {% for c in data1 %}
          <option value="{{ c.id }}">{{ c.descripcion_servicio }}</option>
          {% endfor %}
        </select>

      </div>
      <br>
      <div class="form-group col-md-12">
        <label for="">Empleado</label>
        <select class="form-control" name="empleado">
          <option value="">Seleccione</option>
          {% for e in data %}
          <option value="{{ e.id }}">{{ e.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Agendar</button>
    </div>
  </form>
</main>  
{% endblock %}