{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Informacion{% endblock %}

{% block contenedor %}
<main style="padding: 10%;">
    <h1 style="text-align: center;">Editar informacion </h1>
    <div class="card w-25 m-auto mt-auto mb-auto h-100 p-10" >
        <form action="{% url 'changeProfile' %}" method="post" class="m-3 text-center" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" hidden value="{{ data.id }}" name="id">
            <label for="">Correo: </label>
            <input type="email" name="email" placeholder="Nuevo correo"><br>
            <label for="">Foto de perfil: </label>
            <input class="form-control" type="file" name="foto_new" placeholder="foto"><br>
            <button type="submit" class="btn btn-danger">Guardar cambios</button>
        </form>
    </div>
</main>



{% endblock %}