
{% extends 'tienda/baseLR.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenedor %}

<h1 style="text-align: center;">Recuperar contraseña</h1>
<div class="card w-25 m-auto mt-auto mb-auto h-100 p-10" >
    <form action="{% url 'recuperacionCorreo' %}" method="post" class="m-3 text-center" >
        {% csrf_token %}
        <label for="">Ingrese su correo</label><br>
        <input class="form-control" autofocus="" required="" type="email" name="correo" placeholder="Correo"><br>
        <button type="submit" class="btn btn-danger">Enviar</button>
    </form>
</div>



{% endblock %}