section{
    background-color: rgb(255, 255, 255);
    height: 400px;
    border:1px solid black ;
}

#art1{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
#section1{
    height: 600px;
    display: flex;
    flex-direction: column;
    
}

a{
    text-decoration: none;
    color: white;
}

#section2{
    border: 1px solid black;
    height: 480px;
}

h1{
    text-align: center;
}

#banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;

}

#banner a{
    color: white;
}

#banner h1{
    letter-spacing: 3px;
    font-style: italic ;
}

#banner button{
    border-radius:20px ;
    color: rgb(255, 255, 255);
}

li{
    list-style: none;
}

#dcarta{
    border-radius: 30px;
}

#dcarta:hover{
    width: 600px;
}

#banner button:hover{
    background-color: rgb(255, 0, 0);
}

#section2 h5{
    color: rgb(255, 255, 255);
}

#cartas{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 50px;
    justify-content: center;
}

.tit{
    padding: 2px,2px,2px,2px;
    width: 100%;
    height: 45px;
    background-color: rgb(55, 191, 240);
    color: white;
    font-style: italic;
    letter-spacing: 2px;
}

#carrusel{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#cita{
    width:100px;
    height: 30px;
    border-radius: 30px;
}

#cita:hover{
    color: white;
    background-color: rgb(50, 50, 207);
    opacity: 0.9;
}

footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 260px;
    color: rgb(255, 255, 255);
    border:1px solid black ;
}
#super{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 20px ;
}

#infer{
    background-color:rgb(56, 191, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
    gap: 20px;
    letter-spacing: 3px;
}

footer h3,h1{
    text-align: center;
    font-style: italic;
    letter-spacing: 3px;
}

#infer h3{
    font-style: italic;
}

nav li a:hover{
    background-color: rgb(55, 191, 240);

}

i{
    color: white;
}

#cartas img{
    border-radius: 30px;
    height: 100%;

}

#botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    height: 40px;
}

#botones a{
    color: white;
    text-decoration: none;
    
}

.section3{
    height: 500px; 
}

#opciones{

    display: flex;
    gap: 50px;
}

.opc{
    display: flex;
    gap: 30px;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#emerD{
    height: 90px;
}

#carta2{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#carta2 img{
    height: 140px;
}

#personas{
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:50px; 
    margin-top: 20px;
}

#funcionC{
    height: 800px;
    display: flex;
    flex-direction: column;
}

#info_p{
    border: 1px solid black;
    border-radius: 5%;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

}

#info{
    display: flex;
    justify-content: center;
    padding: 30px;
}


.add{
         display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


#scitas{
    height:800px;
    color: black;
}

.botones a{
    text-decoration: none;
}

p i{
    color: black;
}


#coti{
    margin-top: 100px ;
    height: 700px;
    border:none;
    display: flex;
    justify-content: center;
    
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
}

.datos{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap:50px;
}


#descr{
    height: 90px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#formulario input{
    border: 1px solid black;
}


.servicios{
    height: 100%;
    border: none;
}

#cart-shopping{
    color: black;
}


.product{
    display: grid; grid-template-columns: repeat(4,350px); row-gap:50px; margin-left: 80px; align-content: center; justify-content: center;
}


#calendar{
    margin-top: 20px;
    width: 900px;
    height: 600px;
    background-color: rgb(97, 95, 95);
}





/* estrellas  */


#form_calificaciones {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form_calificaciones p {
    text-align: center;
  }
  
  #form_calificaciones label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }


  .form_ed{
    display: flex;

    flex-direction: column;
    width: 450px;
    height: 450px;
  }