main{
    display: flex;
    justify-content: center;
    height: 600px;
}

#form1{
    margin-top: 40px ;
    height: 500px;
    border-radius: 30px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/formu.jpg);
    background-position: center;
    background-size: cover;
}

#form1 h1{
    color: white;
}

label{
    color: rgb(255, 255, 255);
}

footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 260px;
    color: rgb(255, 255, 255);
    border:1px solid black ;
    position: fixed;
    bottom: 0;
    
}

footer h3,h1{
    text-align: center;
    font-style: italic;
    letter-spacing: 3px;
}

#super{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 20px ;
}

#infer{
    background-color:rgb(55, 191, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
    gap: 20px;
    letter-spacing: 3px;
}



#infer h3{
    font-style: italic;
}

i{
    color: white;
}

li{
    list-style: none;
}
#botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    height: 40px;
}