{% extends 'tienda/base1.html' %}
{% load static %}

{% block titulo %}Categoria{% endblock %}

{% block contenedor %}
<main>
  <div class="container-fluid m-3" style="padding:1%;">
          <h1 class="h1">Lista de Categoria</h1>
          <table class="table table-bordered table-hover" id="tableR">
              <thead class="table-dark">
                <tr>
                  <th>ID categoria</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for r in data %}
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.nombre }}</td>
                        <td>{{ r.descripcion_categoria }}</td>    
                        <td>
                          <a class="btn btn-info" href="{% url 'categoriaEditar' r.id %}"><i class="bi bi-pencil-square"></i></button>
                          <a class="btn btn-danger" href="javascript:eliminar('{% url 'categoriaEliminar' r.id %}')"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                
              </tbody>
            </table>
            <div style="display: flex; justify-content: center; align-content: center;">
              <a href="{% url 'registrarCategoria' %}" class="btn btn-success btn-lg"><i class="bi bi-plus"></i></a>
          </div>
  </div>
</main>
{% endblock %}