
{% if request.session.carrito %}
    <h1>Comprar {{ items }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for p in request.session.carrito %}
                <tr>
                    <td>
                        <img src="{{ p.foto }}" width="25%" alt=""><br>
                        {{ p.nombre }} <br>Precio: $ {{ p.precio }}
                    </td>
                    <td>
                        <input type="hidden" name="id" id="id_{{ p.id }}" value="{{ p.id }}" />
                        <input type="number" name="cantidad" id="cantidad_carrito_{{ p.id }}" min="1" max="{{ p.inventario }}" value="{{ p.cantidad }}" size="3"/>
                    </td>
                    <td class="text-end">${{ p.subtotal }}</td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'borrarU' p.id %}" >x</a>
                    </td>

                </tr>
                
            {% endfor %}
        </tbody>
        
    </table>
    <a class="btn btn-success" href="{% url 'pago' %}">Pagar</a>
    <a class="btn btn-warning" href="{% url 'borrarT' %}">Vaciar Carrito</a>



{% else %}
    <h1>No hay productos en el carro de compra</h1>
{% endif %}
