{% extends 'tienda/base1.html' %}
{% load static %}

{% block titulo %}Listar Productos{% endblock %}

{% block contenedor %}
<main>
    <div class="container-fluid m-3" style="padding: 2%;">
    <h1>Ubicaciones de Usuarios</h1>
        <table class="table table-bordered table-hover" id="tableR">
            <thead class="table-dark">
                <tr>
                    <th>Usuario</th>
                    <th>Dirección</th>
                    <th>Descripcion</th>
                    <th>Telefono</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for location in user_locations %}
                    <tr>
                        <td>{{ location.nombre }}</td>
                        <td>{{ location.ubicacion }}</td>
                        <td>{{ location.descripcion }}</td>
                        <td>{{ location.telefono }}</td>
                        <td><a class="btn btn-danger" href="">Enviar ayuda</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
