{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Cotizaciones{% endblock %}

{% block contenedor %}
<main>
  <div class="tit">
    <h1>Cotizacion</h1>
  </div>
  <section id="coti">
    <div id="formulario">
      <form action="{% url 'cotizacionRegistrar' %}" method='post'>
        <div class="datos">
            <div class="mb-3 mt-3">
              <label for="marca" class="form-label">Marca del vehiculo:</label>
              <input type="text" class="form-control" id="vehiculo" placeholder="Ejemplo: Mazda" name="vehiculo">
            </div>
            <div class="mb-3 mt-3">
              <label for="placa" class="form-label">Placa del vehiculo:</label>
              <input type="text" class="form-control" id="placa" placeholder="Ejemplo: WXM332" name="placa">
            </div>
            <div class="mb-3 mt-3">
              <label for="mod" class="form-label">Modelo del vehiculo:</label>
              <input type="number" class="form-control" id="modelo" placeholder="Ejemplo:2000" name="modelo">
            </div>
            <div class="mb-3 mt-3">
              <label for="linea" class="form-label">Kilometraje del vehiculo:</label>
              <input type="text" class="form-control" id="km" placeholder="Ejemplo:Captiva" name="km">
            </div>
            <div class="mb-3 mt-3">
              <label for="marca" class="form-label">Linea del vehiculo:</label>
              <input type="text" class="form-control" id="linea" placeholder="Ejemplo: Mazda 3" name="linea">
            </div>
            <div class="mb-3 mt-3">
              <label for="">Empleado</label>
              <select class="form-control" name="empleado">
                  <option value="">Seleccione</option>
                  {% for e in empleados %}
                      <option value="{{ e.id }}">{{ e.nombre_completo }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="mb-3 mt-3">
              <label for="">Servicios</label>
              <select class="form-control" name="empleado">
                  <option value="">Seleccione</option>
                  {% for e in servicios %}
                      <option value="{{ e.id }}">{{ e.nombre }}</option>
                  {% endfor %}
              </select>
            </div>
        </div>
        <br>
        <a id="cotizar" href="{% url 'create_PDF' %}" class="btn btn-danger">Cotizar</a>
      </form>
    </div>
  </section>
</main>

{% endblock %}