{% extends 'tienda/base1.html' %}
{% load static %}

{% block titulo %}Crear empleado{% endblock %}

{% block contenedor %}
      <main>
        <h1 class="h1">Lista de Cotizaciones</h1>
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Vehiculo</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Kilometraje</th>
                <th>Linea</th>
                <th>Servicio</th>
                <th>Cliente</th>
                <th>Empleado</th>
              </tr>
            </thead>
            <tbody>
              {% for r in data %}
                  <tr>
                      <td>{{ r.id }}</td>
                      <td>{{ r.modelo }}</td>
                      <td>{{ r.placa }}</td>
                      <td>{{ r.kilometraje }}</td>
                      <td>{{ r.linea }}</td>
                      <td>{{ r.servicio }}</td>
                      <td>{{ r.cliente }}</td>
                      <td>{{ r.empleado }}</td>
                      <td>
                        <a class="btn btn-info" href="{% url 'cotizacionEditar' r.id %}">Editar</button>
                        <a class="btn btn-danger" href="javascript:eliminar('{% url 'cotizacionEliminar' r.id %}')">Eliminar</a>
                      </td>
                  </tr>
              {% endfor %}
              
            </tbody>
          </table>
      </main>
      {% endblock %}