{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Calificaciones{% endblock %}

{% block contenedor %}
<main>
  <section id="funcionC">
    <div class="tit">
      <h1>Calificacion de nuestros servicios</h1>
    </div>
    <article id="personas">
      <section class="container-fluid">
        <div>
          <div class="product">
            {% if data %}
            {% for p in data %}
            <div class="card align-items-center text-center p-10" style="width: 20rem; padding: 10px;">
              {% for u in usu %}
              <img src="{{ u.foto.url }}" class="card-img-top" style="width:85%;">
              {% endfor %}
              <div class="card-body">
                <strong>Calificaciones: </strong>
                <form id="form_calificaciones">

                  <p class="clasificacion">
                    <input type="radio" name="estrellas" class="star" value="5" {% if p.cantidad_estrellas == 5 %}checked="true"{% endif%}>
                    <label for="radio1">★</label>
                    <input type="radio" name="estrellas" class="star" value="4" {% if p.cantidad_estrellas == 4 %}checked="true"{% endif%}>
                    <label for="radio2">★</label>
                    <input type="radio" name="estrellas" class="star" value="3" {% if p.cantidad_estrellas == 3 %}checked="true"{% endif%}>
                    <label for="radio3">★</label>
                    <input type="radio" name="estrellas" class="star" value="2" {% if p.cantidad_estrellas == 2 %}checked="true"{% endif%}>
                    <label class="st">★</label>
                    <input type="radio" name="estrellas" class="star" value="1" {% if p.cantidad_estrellas == 1 %}checked="true"{% endif%}>
                    <label for="radio5">★</label>
                  </p>
                </form>
                <p class="card-text">{{ p.nombre }} </p>
                <p class="text"><strong>Hecho por:</strong> {{ p.cliente }}</p>
                <p class="text"><strong>Servicio:</strong>{{ p.servicio }}</p>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <h1>No hay productos agregados</h1>
            {% endif %}
          </div>
        </div>
      </section>
    </article>

    <article class="add">
      <p>Si deseas realizar una calificacion al servicio prestado por nosotros</p>
      <button class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#agg">Agregar
        calificacion</button>
    </article>

  </section>
</main>
<div class="modal" id="agg">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Calificacion</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="form_calificaciones" method="post" action="{% url 'agregar_calificacion_form' %}">
          {% csrf_token %}
          <h1 style="text-align: center;">Formulario de calificacion</h1>
          <div class="form-row">
            <br>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Servicio</label>
              <input type="Text" class="form-control" name="servicio" id="NombreC" placeholder="Nombre completo">
            </div>
            <br>
            <div class="form-group col-md-12">
              <label for="inputAddress2">Cantidad estrellas</label>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="grupo_e" class="star" value="5" onclick=" stars()"><!--
                          --><label for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="grupo_e" class="star" value="4" onclick="stars()"><!--
                          --><label for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="grupo_e" class="star" value="3" onclick="stars()"><!--
                          --><label for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="grupo_e" class="star" value="2" onclick="stars()"><!--
                          --><label for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="grupo_e" class="star" value="1" onclick="stars()"><!--
                          --><label for="radio5">★</label>
              </p>
            </div>
          </div>
          <input type="number" id="cantidad" name="estrellas">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>
</main>

{% endblock %}