{% extends 'tienda/base1.html' %}
{% load static %}

{% block titulo %}Listar Calificaiones{% endblock %}

{% block contenedor %}
    <div class="container-fluid m-3" style="padding: 90px;">
        <h1>Calificaciones</h1>
        <table class="table table-bordered table-hover" id="tableR">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Estrellas</th>
                    <th>Servicio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for r in data %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.cliente }}</td>    
                    <td>{{ r.cantidad_estrellas }}</td>
                    <td>{{ r.servicios }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'calificacion_formulario_editar' r.id %}"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger"
                            href="javascript:eliminar('{% url 'calificacion_eliminar' r.id %}')"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; justify-content: center; align-content: center;">
            <a href="{% url 'registrarCalificacion' %}" class="btn btn-success btn-lg"><i class="bi bi-plus"></i></a>
        </div>

    </div>
{% endblock %}