{% extends 'tienda/base1.html' %}
{% load static %}
{% load humanize %}
{% block titulo %}Listar Servicio{% endblock %}

{% block contenedor %}
<main>

    <div class="container-fluid m-3">
    <h1 class="h1">Lista de Servicios</h1>
    <table class="table table-hover table-bordered" id="tableR">
    <thead class="table-dark">
        <tr>
            <th>idServicio</th>
            <th>Nombre del servicio</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for r in data %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.nombre }}</td>
                <td>{{ r.descripcion_servicio }}</td>
                <td>$ {{ r.precio|floatformat:0|intcomma }}</td>
                <td>
                    <a class="btn btn-info" href="{% url 'servicioEditar' r.id %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger" href="javascript:eliminar('{% url 'servicioEliminar' r.id %}')"><i class="bi bi-trash-fill"></i></a>   
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <div style="display: flex; justify-content: center; align-content: center;">
        <a href="{% url 'registrarServicio' %}" class="btn btn-success btn-lg"><i class="bi bi-plus"></i></a>
    </div>

    
    </div>
</main>


{% endblock %}