{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RepWheels- {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tienda/css/bootstrap.min.css' %}" />
    <link rel="shortcut icon" href="{% static 'tienda/img/Logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'tienda/css/landing.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="trasnnav" >
            <div class="container" >
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'tienda/img/Logo.png' %}" alt=""
                        width="51px" height="50px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Productos</a>
                            <ul class="dropdown-menu">
                                {% if request.session.logueo.rol == 1 %}
                                <li><a class="dropdown-item" href="{% url 'crearProductoform' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarProductos' %}">Listar</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'productos' %}">Productos</a></li>
                                
                            </ul>
                        </li>

                        {% if request.session.logueo.rol == 1 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Clientes</a>
                            <ul class="dropdown-menu" style="color: black;">
                                <li><a class="dropdown-item" href="{% url 'registrarCliente' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarCliente' %}">Listar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Empleados</a>
                            <ul class="dropdown-menu" style="color: black;">
                                <li><a class="dropdown-item" href="{% url 'nuevoempleados' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'empleado' %}">Listar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Proveedores</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'registrarProveedores' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarProveedores' %}">Listar</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Calificaciones</a>
                            <ul class="dropdown-menu">
                                {% if request.session.logueo.rol == 1 %}
                                <li><a class="dropdown-item" href="{% url 'registrarCalificacion' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'calificacionListar' %}">Listar</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'calificaciones' %}">Calificaciones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Citas</a>
                            <ul class="dropdown-menu">
                                {% if request.session.logueo.rol == 1 %}
                                <li><a class="dropdown-item" href="{% url 'registrarCitar' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarCita' %}">Listar</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'citas' %}">Citas</a></li>
                            </ul>
                        </li>
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Cotizaciones</a>
                            <ul class="dropdown-menu">
                                {% if request.session.logueo.rol == 1 %}
                                <li><a class="dropdown-item" href="{% url 'registrarCotizacion' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarCotizacion' %}">Listar</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'cotizaciones' %}">Cotizaciones</a></li>
                            </ul>
                        </li>
                        -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Servicios</a>
                            <ul class="dropdown-menu">
                                {% if request.session.logueo.rol == 1 %}
                                <li><a class="dropdown-item" href="{% url 'registrarServicio' %}">Registrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarServicio' %}">Listar</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'servicios' %}">Servicios</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <form id='botones' class="d-flex">
                        {% if request.session.logueo.rol > 0 and request.session.logueo.rol <= 5 %}
                            <a class="btn btn-danger" hidden href="{% url 'login' %}">Iniciar</a>
                            <a class="btn btn-outline-danger" href="{% url 'logout' %}"><i class="bi bi-door-open-fill" style="color: black;"></i></a>
                            <a href="javascript:showCart(`{% url 'showCart' %}`);" class="btn btn-outline-danger"><i class="bi bi-cart-fill" style="color: black;"></i></a>
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle btn btn-outline-danger"  href="#" role="button"
                                        data-bs-toggle="dropdown"><i class="bi bi-list" style="color: black;"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" style="color: black;" href="{% url 'perfil' %}">Perfil</a></li>
                                        <li><a class="dropdown-item" style="color: black;" href="{% url 'add_car' %}">Mis vehiculos</a></li>
                                        {% if request.session.logueo.rol ==  3 %}
                        
                                        <li><a class="dropdown-item" style="color: black;" href="#">Cotizaciones</a></li>
                                        {% endif %}                                        
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <a class="btn btn-outline-danger text-black rounded-4" href="{% url 'login' %}">Iniciar Sesion</a>
                            <a class="btn btn-outline-danger text-black rounded-4" href="{% url 'register' %}">Registrarse</a>
                      
                        {% endif %}
                        
                    </form>
                </div>
            </div>
        </nav>
    </header>
    {% if messages %}
        {% for message in messages %}
            <div style="margin-top: 80px; margin-bottom: 4px;" class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div >
        
        {% block contenedor %}
        {% endblock %}
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">
                <div class="spinner-border text-primary d-block" role="status" id="loader">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="respuesta_carrito">
        </div>
    </div>

    <footer >
        <div id="super">
            <div>
                <h1 class="h1">RepWheels</h1>
            </div>
            <div>
                <h3>Contactenos</h3>
                <p>Celular: 312 434567<br>Telefono: 345 692 12<br>Direccion: Calle 45-25</p>
            </div>
            <div>
                <h3>Servicios</h3>
                <ul>
                    <li>Mecanica</li>
                    <li>Pintura</li>
                    <li>Latoneria</li>
                    <li>Electricidad</li>
                </ul>
            </div>
            <div>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Buscar">
                    <button class="btn btn-outline-danger me-2" type="button">Buscar</button>
                </form>
            </div>
        </div>
        <div id="infer" class="fixed-bottom">
            <h3>Redes Sociales</h3>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
        </div>
    </footer>

</body>

<script src="{% static 'tienda/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'tienda/js/libreria.js' %}"></script>
<script src="{% static 'tienda/js/bootstrap.bundle.min.js' %}"></script>

</html>
