{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenedor %}
<div id="banner">
    <h1><ins>RepWheels</ins></h1>
    <div id="opciones">
        <div class="opc">
            <h3>Adquiere tu cita</h3>
            <button class="btn btn-outline-danger btn-lg "><a href="{% url 'citas' %}">Agendar cita</a></button>
        </div><br>
        <div class="opc">
            <h3>¿Te encuentras varado?</h3>
            <button class="btn btn-outline-danger btn-lg" data-bs-toggle="modal"
                data-bs-target="#emergence">Emergencia</button>
        </div>
    </div>
</div>
</header>
<main>
    <section id="section1">
        <div class="tit">
            <h1>Servicios</h1>
        </div>
        <article class="tarjetas">
            {% if servicios %}
                {% for i in servicios %}
                    
                        <div class="card align-items-center text-center p-10" style="width: 18rem; padding: 10px;">
                            <div class="col-md-4">
                                <img src="{{ i.foto.url }}" class="img-fluid rounded-start" alt="{{ i.nombre }}" style="width:100%; height: 200px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.nombre }}</h5>
                                    <p class="card-text">{{ i.descripcion_servicio }}</p>
                                    <button class="btn btn-primary btn-sm">Ver más</button>
                                </div>  
                            </div>
                        </div>
                        
                
                {% endfor %}
                {% else %}
                <h2>No hay servicios</h2>
        {% endif %}  
        </article>
        <div class="text-center mb-4">
            <a href="{% url 'servicios' %}" class="btn btn-danger" >Ver más servicios</a>
        </div>
        
    </section>
    <section id="section2">
        <div class="tit">
            <h1>Procesos automotrices</h1>
        </div>
        <div id="carrusel">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'tienda/img/pintura.jpg' %}" class="d-block w-100" alt="..." height="400px">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'tienda/img/imgc2.jpg' %}" class="d-block w-100" alt="..." height="400px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'tienda/img/imgc3.jpg' %}" class="d-block w-100" alt="..." height="400px">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="tit">
            <h1>¿Por que elegirnos?</h1>
        </div>
        <div id="carta2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'tienda/img/marcas.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Conocimiento</h5>
                    <p class="card-text">Contamos con trabajores especializados y con un alto conocimiento en todas las
                        marcas</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'tienda/img/tecnologia.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tecnologia</h5>
                    <p class="card-text">Contamos con equipos como escanner , multimetros , banco de inyectores, entre
                        otras </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'tienda/img/valor.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Honestidad</h5>
                    <p class="card-text">Nuestros empleados son muy honestos al momento de realizar una cotizacion y
                        realizar un trabajo </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="tit">
            <h1>Calificaciones de nuestro servicios</h1>
        </div>
        <article class="tarjetas">
            {% if data %}
            {% for e in data %}
                {% if forloop.counter > 0 and forloop.counter <= 3 %}
                    <div class="card align-items-center text-center p-10" style="width: 20rem; padding: 10px;">
                        <img src="{{ e.foto.url }}" class="card-img-top" style="width:85%;">
                        <div class="card-body">
                        <strong>Calificaciones: </strong>
                        <form id="form_calificaciones">
        
                            <p class="clasificacion">
                            <input type="radio" name="estrellas" class="star" value="5" {% if e.cantidad_estrellas == 5 %}checked="true"{% endif%}>
                            <label for="radio1">★</label>
                            <input type="radio" name="estrellas" class="star" value="4" {% if e.cantidad_estrellas == 4 %}checked="true"{% endif%}>
                            <label for="radio2">★</label>
                            <input type="radio" name="estrellas" class="star" value="3" {% if e.cantidad_estrellas == 3 %}checked="true"{% endif%}>
                            <label for="radio3">★</label>
                            <input type="radio" name="estrellas" class="star" value="2" {% if e.cantidad_estrellas == 2 %}checked="true"{% endif%}>
                            <label class="st">★</label>
                            <input type="radio" name="estrellas" class="star" value="1" {% if e.cantidad_estrellas == 1 %}checked="true"{% endif%}>
                            <label for="radio5">★</label>
                            </p>
                        </form>
                        <p class="card-text">{{ e.nombre }} </p>
                        <p class="text"><strong>Hecho por:</strong> {{ e.cliente }}</p>
                        <p class="text"><strong>Servicio:</strong>{{ e.servicio }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %} 
            {% else %}
                    <h2>No hay calificaciones</h2>
            {% endif %}           
        </article><br>
        <div class="text-center mb-4">
            <a href="{% url 'calificaciones' %}" class="btn btn-danger" >Ver más</a>
        </div>
    </section>
    {% endblock %}